.header {    
    background-color: rgba($color: #fff, $alpha: 0.8);   
}

.container {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 10px;
    max-width: 1200px;
    margin: auto;
}

.icon {
    width: 30px;
    margin: 0 10px;
}